{% extends 'base.html.twig' %}

{% block body %}

    {# Affichage du tableau des étudiants #}
    {% for classroom in classrooms %}{% set students = classroom.students %}
        <h5>Classe {{classroom.slug | upper }}</h5>
        {% include 'partials/tables/student.html.twig' %}
    {% endfor %}

{% endblock %}