<table class="table table-striped">
	<thead>
		<tr>
			<th class="col-1">Numéro</th>
			<th>Nom</th>
			{% if app.user.title == "ROLE_SADMIN" or app.user.title == "ROLE_ADMIN" %}
				<th scope="col" class="col-1">Actions</th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
		{% for term in terms %}
			<tr>
				<td>{{term.entitle}}</td>
				<td>{{term.name}}</td>
				{% if app.user.title == "ROLE_SADMIN" or app.user.title == "ROLE_ADMIN" %}
					<td class="py-1">{% set dataId = term.id %}{% set dataLink = path('referentiel_term_delete', {'id': term.id,}) %}
						<a href="{{ path('referentiel_term_modify', {'id': term.id,}) }}" class="btn btn-sm btn-primary my-1" data-toggle="tooltip" data-placement="top" title="Modifier"><i class="far fa-edit"></i></a>
						{% include 'partials/modals/confirm.html.twig' %}
					</td>
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>