{% for label,messages in app.flashes %}
	<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
		{% for message in messages %}
			{{ message }}
		{% endfor %}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
{% endfor %}