<div class="border" style="height: 1170px; width: 827px; margin: 40px;">

	<!-- Cartouche -->
	<h6 class="text-center mx-0 my-1">BTS gestion de la PME - Session 2019-2020</h6>
	<p class="text-center mx-0 my-1">E4 - Gérer les relations avec les clients et les fournisseurs</p>
	<div class="row mx-0 my-0">
		<div class="col border mx-3">
			<p class="small mx-0 my-0 text-center">NOM et Prénom du candidat</p>
			<p class="small mx-0 my-0 text-center">NOM et Prénom</p>
		</div>
		<div class="col border mx-3">
			<p class="small mx-0 my-0 text-center">Numéro du candidat</p>
			<p class="small mx-0 my-0 text-center">Numéro candidat</p>
		</div>
	</div>

	<!-- FICHE -->
	<div>
		<h5 class="text-center border mt-2 mb-0 p-1">Fiche d'analyse d'une situation professionnelle</h5>
		<div class="row mx-0 my-0">
			<div class="col-3 border small">GRCF</div>
			<div class="col border small">Communication orale</div>
			<div class="col border small">Communication écrite</div>
		</div>
		<div class="row mx-0">
			<div class="col-3 border small">Identification de la situation professionnelle</div>
			<div class="col-2 border small">IdSP</div>
			<div class="col-7 border small">
				<p class="my-0 mx-0">Modalité de réalisation</p>
				<p class="my-0 mx-0">Avant la formation</p>
				<p class="my-0 mx-0">Pendant la formation en établissement</p>
				<p class="my-0 mx-0">Pendant la formation en milieu professionnel</p>
			</div>
		</div>
		<div class="row mx-0">
			<div class="col-3 border small">Période de réalisation</div>
			<div class="col-2 border small">
				<p>Mois SP</p>
				<p>Années SP</p>
			</div>
			<div class="col-7 border small">
				<p class="my-0 mx-0">Condition de réalisation</p>
				<p class="my-0 mx-0">En autonomie</p>
				<p class="my-0 mx-0">Accompagnée</p>
				<p class="my-0 mx-0">En observation</p>
			</div>
		</div>
		<div class="row mx-0">
			<div class="col-3 border small">Activités concernées</div>
			<div class="col-9 border small">
				<p class="my-0 mx-0">Activité 1.1 Recherche de clientèle et contact</p>
				<p class="my-0 mx-0">Activité 1.2 Administration des ventes de la PME</p>
				<p class="my-0 mx-0">Activité 1.3 Maintien et développement de la relation avec les clients de la PME</p>
				<p class="my-0 mx-0">Activité 1.4 Recherche et choix des fournisseurs de la PME</p>
				<p class="my-0 mx-0">Activité 1.5 Suivi et contrôle des opérations d’achats et d'investissement de la PME</p>
				<p class="my-0 mx-0">Activité 1.6 Suivi comptable des opérations avec les clients et les fournisseurs de la PME</p>
			</div>
		</div>
		<div class="row mx-0">
			<div class="col-3 border small">Intitulé de la situation professionnelle</div>
			<div class="col-9 border small">IntituleSP</div>
		</div>
		<div class="row mx-0">
			<div class="col-3 border small">Lieu, période et durée de réalisation</div>
			<div class="col-9 border small">InfosSP</div>
		</div>
		<div class="row mx-0">
			<div class="col-3 border small">Cadre de la situation professionnelle</div>
			<div class="col-9 border small">CadreSP</div>
		</div>
	</div>

	<!-- PROBLEME -->
	<div>
		<h6 class="text-center border mx-0 my-0">Problème de gestion soulevé et enjeux de la situation</h6>
		<div class="row mx-0 my-0">
			<div class="col-4 border small text-center">De GRCF</div>
			<div class="col-4 border small text-center">De communication orale</div>
			<div class="col-4 border small text-center">De communication écrite</div>
		</div>
		<div class="row mx-0 my-0">
			<div class="col-4 border small">ProblemGestSP</div>
			<div class="col-4 border small">ProblemComOSP</div>
			<div class="col-4 border small">ProblemComESP</div>
		</div>
		<div class="row mx-0">
			<div class="col-3 border small">Acteurs et relation entre les acteurs</div>
			<div class="col-9 border small">ActeursSP</div>
		</div>
		<div class="row mx-0">
			<div class="col-3 border small">Objectif</div>
			<div class="col-9 border small">ObjectifSP</div>
		</div>
		<div class="row mx-0">
			<div class="col-3 border small">Conditions de réalisation : contraintes dont le processus et organisation comptable, environnement numérique</div>
			<div class="col-9 border small">ConditionsSP</div>
		</div>
		<div class="row mx-0">
			<div class="col-3 border small">Ressources à disposition</div>
			<div class="col-9 border small">RessourcesSP</div>
		</div>
		<div class="row mx-0">
			<div class="col-3 border small">Solutions logicielles choisies et fonctionnalités mobilisées</div>
			<div class="col-9 border small">SolutionsSP</div>
		</div>
		<div class="row mx-0">
			<div class="col-3 border small">Productions réalisées</div>
			<div class="col-9 border small">ProductionsSP</div>
		</div>
		<div class="row mx-0">
			<div class="col-3 border small">Ecrits professionnels produits</div>
			<div class="col-9 border small">EcritsSP</div>
		</div>
		<div class="row mx-0">
			<div class="col-3 border small">Oraux professionnels</div>
			<div class="col-9 border small">OrauxSP</div>
		</div>
	</div>
</div>
