@media print{
	@page{size: 210mm 297mm;margin: 1cm;}
	h2{font-size: 16pt !important;margin: 0pt;text-align: center;}
	h3{font-size: 14pt !important;margin: 0pt;text-align: center;}
	h4{font-size: 12pt !important;margin: 0pt;text-align: center;}
	span{font-size: 10pt !important;margin: 0pt;text-align: center;}
	p{font-size: 10pt !important;margin: 0pt;widows: 2; orphans: 2;}
	input{font-size: 10pt !important;margin: 0pt;}
	label{font-size: 10pt !important;margin: 0pt;}
	body{color: black !important;}
	#block{margin-bottom: 0.1rem;}
	.border{border: solid black 0.05rem;}
	nav,h1,#menu_principal,#menu_secondaire,#menu_filtre,#debug{display: none;}
	.page{break-before: always;}
	.d-flex{display: flex;}
	.col-4{width: 33.33%;}
	.col-6{width: 50%;}
	.col-2{width: 20%;}
	.col-10{width: 80%;}
	.col-8{width: 60%;}
}
