{% extends 'base.html.twig' %}

{% block title %}Fiche situation professionnelle{% endblock %}
{% block pagetitle %}<h1 class="text-center mt-1">Fiche de situation professionnelle</h1>{% endblock %}
{% block body %}
{% include 'partials/menu.html.twig' %}
<h5>Liste des fiches de situation professionnelle</h5>

<table class="table table-bordered table-striped mb-0">
	<thead>
		<tr>
			<th scope="col"></th>
			<th scope="col">Numéro fiche</th>
			<th scope="col">Date de création</th>
			<th scope="col">Etat de la fiche</th>
			<th scope="col">Commentaire</th>
		</tr>
	</thead>
	<tbody>
		{% for card in cards %}
		<tr>
			<td><input type="checkbox" name="card" value="{{card.id}}"></td>
			<td>ficheSP n°{{ card.numbersp }}</td>
			<td>Date de création</td>
			<td>Etat de la fiche</td>
			<td>Commentaire</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
