{% extends 'base.html.twig' %}

{% block title %}Passeport Professionnel{% endblock %}
{% block pagetitle %}<h1 class="text-center mt-1">Page du Passeport</h1>{% endblock %}
{% block body %}
{% include 'partials/menu.html.twig' %}
<div class="border m-auto" style="height: 1654px; width: 1170px; margin: 20px;">
	<!-- Cartouche -->
	<div>
		<div class="row my-2 mx-0">
			<div class="col">
				<h6 class="text-center m-1">BTS GESTION DE LA PME - SESSION 2019 - PASSPORT PROFESSIONNEL</h6>
			</div>
		</div>
		<div class="row my-2 mx-0">
			<div class="col-9 border-top border-bottom">
				<p class="small m-1">NOM et Prénom du titulaire du passport : </p>
			</div>
			<div class="col-3 border-top border-bottom border-left">
				<p class="small m-1">Numéro du candidat : </p>
			</div>
		</div>
	</div>

	<div class="row my-2 mx-0" style="min-height: 100px;">
		<div class="col-9 border-top border-bottom">
			<p class="small m-1 text-center">L'équipe pédagogique représentée par les enseignants, en lycée ou centre de formation : </p>
			<p class="small m-1 text-center">atteste que le titulaire de ce passeport professionnel a bien effectué, en formation, les activités et missions présentées dans ce tableau.</p>
		</div>
		<div class="col-3 border-top border-bottom border-left">
			<p class="small m-1 text-center">Signatures des enseignants de l'équipe pédagogique et cachet de l'établissement</p>
		</div>
	</div>

	<!-- Tableau -->
	<div class="row my-2 mx-0 border-top">
		<div class="col-1 p-auto text-center border-right border-bottom" style="writing-mode: sideways-lr; text-orientation: mixed;max-width: 50px">
			DOMAINE D'ACTIVITES 1
		</div>
		<div class="col m-0 p-0">
			<table class="table table-borderless table-sm mb-0">
				<thead>
					<tr>
						<th scope="col"></th>
						<th scope="col"></th>
						<th scope="col" colspan="4" class="m-0 p-0 border-right border-left"><p class="small m-1 text-center">SITUATIONS VECUES OU OBSERVEES</p></th>
						<th scope="col"></th>
					</tr>
					<tr>
						<th scope="col" class="col-2 border m-0 p-1 small text-center">ACTIVITES</th>
						<th scope="col" class="col-2 border m-0 p-1 small text-center">COMPETENCES</th>
						<th scope="col" class="col-1 border m-0 p-1 small text-center">AVANT LA FORMATION</th>
						<th scope="col" class="col-1 border m-0 p-1 small text-center">PENDANT LA FORMATION EN ETABLISSMENT</th>
						<th scope="col" class="col-1 border m-0 p-1 small text-center">PENDANT LA FORMATION DANS UNE PME</th>
						<th scope="col" class="col-1 border m-0 p-1 small text-center">PENDANT LA FORMATION DANS UNE ORGANISATION</th>
						<th scope="col" class="col-3 border-top border-bottom m-0 p-1 small text-center">TACHES DES ACTIVITES</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="border small">ACT 1</td>
						<td class="border small">ACT 1</td>
						<td class="border small">ACT 1</td>
						<td class="border small">ACT 1</td>
						<td class="border small">ACT 1</td>
						<td class="border small">ACT 1</td>
						<td class="m-0 p-0">
							<p class="border-bottom small m-0 p-1">test</p>
							<p class="border-bottom small m-0 p-1">test</p>
							<p class="border-bottom small m-0 p-1">test</p>
						</td>
					</tr>
					<tr>
						<td class="border small">ACT 1</td>
						<td class="border small">ACT 1</td>
						<td class="border small">ACT 1</td>
						<td class="border small">ACT 1</td>
						<td class="border small">ACT 1</td>
						<td class="border small">ACT 1</td>
						<td class="m-0 p-0">
							<p class="border-bottom small m-0 p-1">test</p>
							<p class="border-bottom small m-0 p-1">test</p>
							<p class="border-bottom small m-0 p-1">test</p>
						</td>
					</tr>
					<tr>
						<td class="border small">ACT 1</td>
						<td class="border small">ACT 1</td>
						<td class="border small">ACT 1</td>
						<td class="border small">ACT 1</td>
						<td class="border small">ACT 1</td>
						<td class="border small">ACT 1</td>
						<td class="m-0 p-0">
							<p class="border-bottom small m-0 p-1">test</p>
							<p class="border-bottom small m-0 p-1">test</p>
							<p class="border-bottom small m-0 p-1">test</p>
						</td>
					</tr>
					<tr>
						<td class="border small">ACT 1</td>
						<td class="border small">ACT 1</td>
						<td class="border small">ACT 1</td>
						<td class="border small">ACT 1</td>
						<td class="border small">ACT 1</td>
						<td class="border small">ACT 1</td>
						<td class="m-0 p-0">
							<p class="border-bottom small m-0 p-1">test</p>
							<p class="border-bottom small m-0 p-1">test</p>
							<p class="border-bottom small m-0 p-1">test</p>
						</td>
					</tr>
					<tr>
						<td class="border small">ACT 1</td>
						<td class="border small">ACT 1</td>
						<td class="border small">ACT 1</td>
						<td class="border small">ACT 1</td>
						<td class="border small">ACT 1</td>
						<td class="border small">ACT 1</td>
						<td class="m-0 p-0">
							<p class="border-bottom small m-0 p-1">test</p>
							<p class="border-bottom small m-0 p-1">test</p>
							<p class="border-bottom small m-0 p-1">test</p>
						</td>
					</tr>
					<tr>
						<td class="border small">ACT 1</td>
						<td class="border small">ACT 1</td>
						<td class="border small">ACT 1</td>
						<td class="border small">ACT 1</td>
						<td class="border small">ACT 1</td>
						<td class="border small">ACT 1</td>
						<td class="m-0 p-0">
							<p class="border-bottom small m-0 p-1">test</p>
							<p class="border-bottom small m-0 p-1">test</p>
							<p class="border-bottom small m-0 p-1">test</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
