{% extends 'base.html.twig' %}

{% block title %}Fiche situation professionnelle{% endblock %}
{% block pagetitle %}<h1 class="text-center mt-1">Fiche de situation professionnelle</h1>{% endblock %}
{% block body %}
{% include 'partials/menu.html.twig' %}
{% endblock %}
