{% set pourcentCard = 25 %}
	{% if card.entitledsp is not empty %}{% set pourcentCard = pourcentCard + 5 %}
	{% endif %}
	{% if card.infossp is not empty %}{% set pourcentCard = pourcentCard + 5 %}
	{% endif %}
	{% if card.framesp is not empty %}{% set pourcentCard = pourcentCard + 5 %}
	{% endif %}
	{% if card.problemmanagsp is not empty or card.problemcomosp is not empty or card.problemcomwsp is not empty %}{% set pourcentCard = pourcentCard + 5 %}
	{% endif %}
	{% if card.actorssp is not empty %}{% set pourcentCard = pourcentCard + 5 %}
	{% endif %}
	{% if card.targetsp is not empty %}{% set pourcentCard = pourcentCard + 5 %}
	{% endif %}
	{% if card.conditionssp is not empty %}{% set pourcentCard = pourcentCard + 5 %}
	{% endif %}
	{% if card.resourcessp is not empty %}{% set pourcentCard = pourcentCard + 5 %}
	{% endif %}
	{% if card.answerssp is not empty %}{% set pourcentCard = pourcentCard + 5 %}
	{% endif %}
	{% if card.productionssp is not empty %}{% set pourcentCard = pourcentCard + 5 %}
	{% endif %}
	{% if card.writtensp is not empty %}{% set pourcentCard = pourcentCard + 5 %}
	{% endif %}
	{% if card.oralsp is not empty %}{% set pourcentCard = pourcentCard + 5 %}
	{% endif %}
	{% if card.contributionsp is not empty %}{% set pourcentCard = pourcentCard + 5 %}
	{% endif %}
	{% if card.analysissp is not empty %}{% set pourcentCard = pourcentCard + 5 %}
	{% endif %}
	{% if card.datesp is not empty %}{% set pourcentCard = pourcentCard + 5 %}
	{% endif %}

	<div class="progress my-1">
		<div class="progress-bar {% if pourcentCard >= "99%" %}bg-success{% endif %}" role="progressbar" style="width: {{ pourcentCard }}%" aria-valuenow="{{ pourcentCard }}" aria-valuemin="0" aria-valuemax="100">
			{% if pourcentCard >= "99%" %}
				Consulter
			{% else %}
				{{ pourcentCard }}%
			{% endif %}
		</div>
	</div>