{% extends 'base.html.twig' %}

{% block body %}

    {# Affichage du tableau des fiches #}
    {% if app.user.title == "ROLE_SADMIN" %}
        {% for student in students %}
            <h5>{{student.user.lastName | upper }}</h5>
            {% include 'partials/tables/card.html.twig' %}
        {% endfor %}
    {% endif %}

    {% if app.user.title == "ROLE_ADMIN" %}
        {% for classroom in classrooms %}
            {% for student in classroom.students %}
                <h5>{{student.user.lastName | upper }}</h5>
                {% include 'partials/tables/card.html.twig' %}
            {% endfor %}
        {% endfor %}
    {% endif %}

    {% if app.user.title == "ROLE_TEACHER" %}
        {% for classroom in classrooms %}
            {% for student in classroom.students %}
                <h5>{{student.user.lastName | upper }}</h5>
                {% include 'partials/tables/card.html.twig' %}
            {% endfor %}
        {% endfor %}
    {% endif %}

    {% if app.user.title == "ROLE_USER" %}
        <h5>Mes fiches</h5>
        {% include 'partials/tables/card.html.twig' %}
    {% endif %}

{% endblock %}
