{% extends 'base.html.twig' %}

{% block body %}

	<h5>liste des modalités :</h5>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Numéro</th>
				<th>Nom</th>
			</tr>
		</thead>
		<tbody>
			{% for modality in modalities %}
			<tr>
				<td><a href="{{path('referentiel_modality_modify', {'id': modality.id,})}}">{{modality.number}}</a></td>
				<td><a href="{{path('referentiel_modality_modify', {'id': modality.id,})}}">{{modality.title}}</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
{% endblock %}