{% extends 'base.html.twig' %}

{% block title %}Tableau de bord {% endblock %}
{% block pagetitle %}<h1 class="text-center mt-1">Tableau de bord de</h1>{% endblock %}
{% block body %}

{% include 'partials/menu.html.twig' %}
<h5>Historique fiches de situation professionnelle</h5>

<table class="table table-bordered table-striped mb-0">
	<thead>
		<tr>
			<th scope="col">Numéro fiche</th>
			<th scope="col">Date de création</th>
			<th scope="col">Etat de la fiche</th>
			<th scope="col">Commentaire</th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
		<tr>
			<td>{{user.candidatenb}}</td>
			<td>{{user.lastname}}</td>
			<td>{{user.firstname}}</td>
			<td>{{user.status}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
