{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
{{dump(slug)}}
{{dump(app.request.request)}}
<form action="{{ path('account_login',{'slug':slug}) }}" method="post">
	<input type="email" name="_username">
	<input type="password" name="_password">
	<input type="submit" name="Connexion">
</form>
{% endblock %}
