{% extends 'base.html.twig' %}

{% block body %}

	{# Affichage du tableau des passeports #}
	{% if app.user.title == "ROLE_SADMIN" %}
		{% for classroom in classrooms %}
			<h5>Classe {{classroom.slug | upper }}</h5>
			{% include 'partials/tables/passport.html.twig' %}
		{% endfor %}
	{% endif %}

	{% if app.user.title == "ROLE_ADMIN" %}
		{% for classroom in classrooms %}
			<h5>Classe {{classroom.slug | upper }}</h5>
			{% include 'partials/tables/passport.html.twig' %}
		{% endfor %}
	{% endif %}

	{% if app.user.title == "ROLE_TEACHER" %}
		{% for classroom in classrooms %}
			<h5>Classe {{classroom.slug | upper }}</h5>
			{% include 'partials/tables/passport.html.twig' %}
		{% endfor %}
	{% endif %}

	{% if app.user.title == "ROLE_USER" %}
		{% for classroom in classrooms %}
			<h5>Classe {{classroom.slug | upper }}</h5>
			{% for student in classroom.students %}
				{% include 'partials/tables/passport.html.twig' %}
			{% endfor %}
		{% endfor %}
	{% endif %}

{% endblock %}
