{% extends 'base.html.twig' %}

{% block body %}

<div class="passport">
	<!-- CARTOUCHE -->
	<table style="width: 100%;margin-bottom: 5pt;">
		<thead>
			<tr>
				<th colspan="2" style="border-top: 1px solid black;border-right: 1px solid black;border-left: 1px solid black;text-align: center;">
					<h2>BTS GESTION DE LA PME - SESSION 2019 - PASSEPORT PROFESSIONNEL</h2>
					<h2>E4 - Gérer les relations avec les clients et les fournisseurs</h2>
				</th>
			</tr>
			<tr>
				<th style="width: 70%;border: 1px solid black; border-collapse: collapse;text-align: center;">
					<p>NOM et Prénom du titulaire du passport : </p>
				</th>
				<th style="width: 30%;border: 1px solid black; border-collapse: collapse;text-align: center;">
					<p>Numéro candidat : </p>
				</th>
			</tr>
		</thead>
	</table>
	<table style="width: 100%;margin-bottom: 5pt;">
		<thead>
			<tr>
				<th style="width: 70%;border: 1px solid black;text-align: center;">
					<p>L'équipe pédagogique représentée par les enseignants, en lycée ou centre de formation : </p>
					<p>atteste que le titulaire de ce passeport professionnel a bien effectué, en formation, les activités et missions présentées dans ce tableau.</p>
				</th>
				<th style="width: 30%;border: 1px solid black;text-align: center;">
					<p>Signatures des enseignants de l'équipe pédagogique et cachet de l'établissement</p>
				</th>
			</tr>
		</thead>
	</table>

	<!-- PASSSEPORT -->
	<table style="width: 100%;margin-bottom: 5pt;">
		<thead>
			<tr>
				<th rowspan="2" style="width: 100pt;border: 1px solid black;text-align: center;">
					<p>Activités</p>
				</th>
				<th rowspan="2" style="width: 100pt;border: 1px solid black;text-align: center;">
					<p>Compétences</p>
				</th>
				<th colspan="4" style="width: 100pt;border: 1px solid black;text-align: center;">
					<p>Situation vécues ou observées</p>
					<p>Périodes (Situations Professionnelles)</p>
				</th>
				<th rowspan="2" style="width: 100pt;border: 1px solid black;text-align: center;">
					<p>Solutions Logicielles</p>
				</th>
				<th rowspan="2" style="width: 100pt;border: 1px solid black;text-align: center;">
					<p>Tâches des activités</p>
				</th>
			</tr>
			<tr>
				<th style="width: 10pt;border: 1px solid black;text-align: center;">
					<p>Avant la formation</p>
				</th>
				<th style="width: 10pt;border: 1px solid black;text-align: center;">
					<p>Pendant la formation en établissement</p>
				</th>
				<th style="width: 10pt;border: 1px solid black;text-align: center;">
					<p>Pendant la formation dans une PME</p>
				</th>
				<th style="width: 10pt;border: 1px solid black;text-align: center;">
					<p>Pendant la formation dans une organisation</p>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="border: 1px solid black;text-align: center;">
					<p>ACT1</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>COMP1</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>DATE</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>DATE</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>DATE</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>DATE</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>LOGICIELS</p>
				</td>
				<td style="border: 1px solid black;text-align: left;">
					<input type="checkbox" name="" disabled="disabled"><label>tache1</label><br>
					<input type="checkbox" name="" disabled="disabled"><label>tache2</label><br>
					<input type="checkbox" name="" disabled="disabled"><label>tache3</label><br>
					<input type="checkbox" name="" disabled="disabled"><label>tache4</label><br>
					<input type="checkbox" name="" disabled="disabled"><label>tache5</label><br>
					<input type="checkbox" name="" disabled="disabled"><label>tache6</label>
				</td>
			</tr>
			<tr>
				<td style="border: 1px solid black;text-align: center;">
					<p>ACT2</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>COMP2</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>DATE</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>DATE</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>DATE</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>DATE</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>LOGICIELS</p>
				</td>
				<td style="border: 1px solid black;text-align: left;">
					<input type="checkbox" name="" disabled="disabled"><label>tache1</label><br>
					<input type="checkbox" name="" disabled="disabled"><label>tache2</label><br>
					<input type="checkbox" name="" disabled="disabled"><label>tache3</label>
				</td>
			</tr>
			<tr>
				<td style="border: 1px solid black;text-align: center;">
					<p>ACT3</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>COMP3</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>DATE</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>DATE</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>DATE</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>DATE</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>LOGICIELS</p>
				</td>
				<td style="border: 1px solid black;text-align: left;">
					<input type="checkbox" name="" disabled="disabled"><label>tache1</label><br>
					<input type="checkbox" name="" disabled="disabled"><label>tache2</label><br>
					<input type="checkbox" name="" disabled="disabled"><label>tache3</label><br>
					<input type="checkbox" name="" disabled="disabled"><label>tache4</label><br>
					<input type="checkbox" name="" disabled="disabled"><label>tache5</label><br>
					<input type="checkbox" name="" disabled="disabled"><label>tache6</label>
				</td>
			</tr>
			<tr>
				<td style="border: 1px solid black;text-align: center;">
					<p>ACT4</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>COMP4</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>DATE</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>DATE</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>DATE</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>DATE</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>LOGICIELS</p>
				</td>
				<td style="border: 1px solid black;text-align: left;">
					<input type="checkbox" name="" disabled="disabled"><label>tache1</label><br>
					<input type="checkbox" name="" disabled="disabled"><label>tache2</label><br>
					<input type="checkbox" name="" disabled="disabled"><label>tache3</label>
				</td>
			</tr>
			<tr>
				<td style="border: 1px solid black;text-align: center;">
					<p>ACT5</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>COMP5</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>DATE</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>DATE</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>DATE</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>DATE</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>LOGICIELS</p>
				</td>
				<td style="border: 1px solid black;text-align: left;">
					<input type="checkbox" name="" disabled="disabled"><label>tache1</label><br>
					<input type="checkbox" name="" disabled="disabled"><label>tache2</label><br>
					<input type="checkbox" name="" disabled="disabled"><label>tache3</label><br>
					<input type="checkbox" name="" disabled="disabled"><label>tache4</label><br>
					<input type="checkbox" name="" disabled="disabled"><label>tache5</label><br>
					<input type="checkbox" name="" disabled="disabled"><label>tache6</label>
				</td>
			</tr>
			<tr>
				<td style="border: 1px solid black;text-align: center;">
					<p>ACT6</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>COMP6</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>DATE</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>DATE</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>DATE</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>DATE</p>
				</td>
				<td style="border: 1px solid black;text-align: center;">
					<p>LOGICIELS</p>
				</td>
				<td style="border: 1px solid black;text-align: left;">
					<input type="checkbox" name="" disabled="disabled"><label>tache1</label><br>
					<input type="checkbox" name="" disabled="disabled"><label>tache2</label><br>
					<input type="checkbox" name="" disabled="disabled"><label>tache3</label>
				</td>
			</tr>
		</tbody>
	</table>
</div>

{% endblock %}
